*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav-link {
  color: aqua;
}
.nav-link li{
  list-style: none;
}
.nav-link a{
  color: aliceblue;
  font-weight: bold;
}
.page-title {
  color: rgb(12, 146, 146);
  font-size: large;
}
#plot-2 {
  background-image: image("Resources/Fig2.png");
}